.dice_area{
    display: flex;
    height: 100px;
    width: 100px;
    
}
body {background-color: rgb(212, 196, 190);}



.dice{
    margin: 20px;
    position: relative;
}
.dice:hover {
    opacity: 0.5;
}

.btn{
    background-color: green;
    font-family: arial;
    width: 500px;
    height: 200px;

}

.img{
    max-width: 60px;
    max-width: 60px;
}

.scoreboard {
    font-family: arial;
    color: #000;
    width: 100%;
}


table {
    border: solid 2px #333;
    border-collapse: collapse;
    width: 10%;
  }

td{
    border: solid 2px #333;
    width: 45px;
    height: 30px;
    

}

tr{
    border: solid 2px #333;

}
